button {
    font-size: xx-large;
}
#calculatorContainer{
    height: 400px;
    width: 400px;
}
#resultsContainer{
    height: 80px;
    width: 400px;
    font-size: xx-large;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(25, 16px);
}
.wrapperCalc{
    display: grid;
    grid-template-columns: repeat(2, 300px);
}
.wrapperNumbers{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
}
.wrapperOperators{
    display: grid;
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: repeat(4, 100px);
}